# Ignore virtual environment
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
*.sqlite3

# Ignore environment variables and secrets
.env
*.env

# Ignore Django migrations cache
**/migrations/__pycache__/

# Ignore media and static files (if needed)
media/
staticfiles/

# Ignore IDE/editor files
.vscode/
.idea/
*.swp
.DS_Store
